
<div>
  <h2>User info</h2>
  <p>name<%= user.name %></p>
  <p>introduction<%= user.introduction %></p>
  <%= link_to edit_user_path do %>
  <i class="fa-solid fa-user-gear"></i>
  <% end %>
</div>

<h2>Books</h2>
<% @books.each do |book| %>
  <div>
    <%= link_to book_path(book.id) do %>
      <%= image_tag book.get_image %>
    <p><%= image_tag 'no_image.jpg' %></p>
    <p>Title <%= book.title %></p>
    <% end %>
    <p>Opinion<%= book.body %></p>
  </div>
<% end %>
