<div class="container p-4 px-sm-0">

  <% if @book.errors.any? %>
    <%= @book.errors.count %>errors prohibited this obj from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>  
    </ul>
  <% end %>
  
  <div class="row">
    <%= render 'leftbar', user: @user, book: @new_book %> 
    <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@book.user_id), class:"text-decoration-none" do %>
              <%= image_tag @book.user.get_profile_image(100,100) %>
              <br>
              <%= @book.user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@book.id) do %>
              <%= @book.title %>
            <% end %>
          </td>
          <td><%= @book.body %></td>
          <td><%= render'favorites/favorite', book: @book %></td>
          <td>コメント数：<%= @book.book_comments.count %></td>
          <td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book.id) , class: "btn btn-sm btn-success"%></td>
              <td><%= link_to "Destroy", book_path(@book.id) , method: :delete, class: "btn btn-sm btn-danger"%></td>
            <% end %>
          </td>  
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <% @book.book_comments.each do |book_comment| %>
        <tr>
          <td>
            <%= image_tag book_comment.user.get_profile_image(100,100) %>
            <br>
            <%= book_comment.user.name %>
          </td>
          <td><%= book_comment.comment %></td>
          <td>
            <%= link_to "Destroy", book_path(book_comment.id) , method: :delete, class: "btn btn-sm btn-danger"%>
          </td>
        </tr>
        <tr>
          <%= form_with model: [@book, @book_comment] do |f| %>
            <%= f.text_area :comment, rows: '5' %>
            <%= f.submit "送信" %>
          <% end %>  
        </tr>
      </tbody>
    </tbody>
  </div>
</div>



